body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    background-image: url("../img/bg-login.png"); /* background khusus login */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-container {
    width: 400px;
    margin: 120px auto;
    background: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.login-container button {
    padding: 10px 30px;
    background-color: #f8991c;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
